{# templates/index.html #}
{% extends "base.html" %}

{% block title %}Volna - Личный кабинет{% endblock %}

{% block content %}

      {% include 'sections/welcome.html' %}

      {% include 'sections/status.html' %}
      {% include 'sections/group.html' %}

      {% if customer.has_full_support %}
          {% include 'sections/docs.html' %}
          {% include 'sections/docs_extra.html' %}
      {% endif %}

      {% include 'sections/events.html' %}
      {% include 'sections/exams.html' %}
      {% include 'sections/accounts.html' %}



{% endblock %}
