{# templates/index.html #}
{% extends "base.html" %}

{% block title %}Volna - Личный кабинет{% endblock %}

{% block content %}

    {% if not customer.is_activated %}
      {% include 'sections/welcome.html' %}

    {% else %}
      {% include 'sections/status.html' %}
      {% include 'sections/group.html' %}

      {% if customer.has_full_support %}  {% include 'sections/documents.html' %} {% endif %}

      {% include 'sections/events.html' %}
      {% include 'sections/exams.html' %}
      {% include 'sections/accounts.html' %}

    {% endif %}

{% endblock %}
