{# templates/base.html #}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <script src="/static/tailwind_browser.js" lang="javascript"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    /* Apply Montserrat to the entire body */
    body {
      font-family: 'Montserrat', sans-serif;
    }

    </style>

</head>
<body class="bg-[#F2F6F8] h-full">

<div class="max-w-[850px] mx-auto md:p-6 font-['Montserrat']">
  <!-- Header -->
  <header class="flex justify-between items-center md:mb-8 p-4 md:p-0">
    <a href="/profile/{{ amo_id }}"><img src="/static/img/volna_logo.svg" alt="Volna App" class="h-8" /></a>

    <a href="https://t.me/IrinaSamarina9" target="_blank" class="bg-[#1B3B36] text-white px-6 py-2 rounded-lg">
      Нужна помощь!
    </a>
  </header>

  <main class="bg-white p-3 md:p-6 rounded-xl shadow-sm">
  {% block content %}
  {% endblock %}
  </main>
</div>

</body>
</html>
