{# templates/index.html #}
{% extends "base.html" %}

{% block title %}Volna - Личный кабинет{% endblock %}

{% block content %}

    <h1 class="text-[#1B3B36] text-2xl font-semibold mb-4">
      {{document.title}}
    </h1>

    {% if document.is_uploaded %}
    <div class="bg-[#F3F0FF] p-4 rounded-xl mb-8">
      <p>Файл загружен. Вы можете вернуться и загрузить остальные }}</p>
    </div>
    {% endif %}

    <h3 class="text-lg font-normal">
      {{document.description}}
    </h3>

    <form action="/upload" method="post" enctype="multipart/form-data" class="">

      <input type="hidden" id="amo_id" name="amo_id" value="{{ amo_id }}">
      <input type="hidden" id="doc_id" name="doc_id" value="{{ document.id }}">

        <div class="bg-[#E9F1F0] p-4 md:p-6 rounded-xl mt-6">

            <input id="example1"
                   name="file"
                   type="file"
                   class="mb-2 block w-full text-sm file:mr-4
                   file:rounded-md
                   file:border-0
                   file:bg-teal-500
                   file:py-2 file:px-4
                   file:text-sm
                   file:font-semibold
                   file:text-white
                   hover:file:bg-teal-700
                   focus:outline-none
                   disabled:pointer-events-none
                   disabled:opacity-60" />


        <button class="bg-[#214B57] hover:bg-[#346471] text-sm text-white py-2 px-4 rounded cursor-pointer" type="submit"> Загрузить</button>

      </div>

    </form>

    <div>
      {{document.guide | safe }}
    </div>

{% endblock %}
