
    <!-- Documents Section -->
    <section class="mb-8" id="customer__docs">
      <h2 class="flex items-center gap-2 text-xl font-medium mb-6">
        Дополнительные документы
      </h2>

      <div class="grid md:grid-cols-2 gap-4">

        {% for doc in customer.docs_extra.values() %}

              <div class="md:p-6 {% if doc.is_uploaded %}bg-green-100{% else %}border border-gray-300{% endif %} p-4 rounded-xl">
                <h3 class="text-[#1B3B36] font-medium mb-2">{{ doc.title }}</h3>
                <p class="text-gray-600 text-sm mb-4">
                  {{ doc.description }}
                </p>

              {% if doc.is_uploaded %}

                    <p class=" ">
                      <span class="pr-4 py-2">✅ Загружен </span>
                      <a href="/documents/{{customer.amo_id }}/extra/{{ doc.id }}" class="bg-[#E9F1F0] text-[#1B3B36] px-4 py-2 rounded">
                        Посмотреть
                      </a>
                    </p>

              {% else %}

                <p class="">
                  <a href="/documents/{{customer.amo_id }}/extra/{{ doc.title }}" class="bg-[#7FD1C5] text-white px-4 py-2 mr-2 rounded">
                    Загрузить
                  </a>
                </p>

              {% endif %}

              </div>

        {% endfor %}
      </div>

</section>
