<section class="mb-8" id="customer__schedule ">
  <!-- Schedule Header -->
  <h2 class="flex items-center gap-2 text-xl font-medium  mb-6">
    <span class="text-xl">🗓️</span>
    Ближайшие события
  </h2>

     {% for event in customer.group.events_upcoming_3 %}
      <div class="mb-2">
        <span class="mr-6"> {{ event.starts | rudate }} </span>
        <span class="mr-6 text-sm mr-6"> {{ event.title }} </span>
        <span class="text-gray text-sm mr-6"> {{ event.description }} </span>
        {% if event.record %} <a href="{{ event.record }}" class="text-[#7FD1C5] text-sm mr-6"> Cмотреть запись </a> {% endif %}
        {% if event.link %} <a href="{{ event.link }}" class="text-[#7FD1C5] text-sm mr-6"> Подключиться </a> {% endif %}
      </div>
      {% endfor %}

      {% if customer.group.events_upcoming_3|length == 0 %}

          <p>Нет ближайших событий.</p>

      {% endif  %}

       <a href="/events/{{ amo_id }}"  class="bg-[#E9F1F0] text-[#1B3B36] px-4 py-2 rounded hover:bg-opacity-80 inline-block transition-colors">
            Посмотреть все события, включая архив.
       </a>

</section>
