<section class="mb-8" id="customer__schedule ">
  <!-- Schedule Header -->
  <h2 class="flex items-center gap-2 text-xl font-medium  mb-6">
    <span class="text-xl">🗓️</span>
    Ближайшие события
  </h2>

  <table class="w-full">
    <tbody class="divide-y divide-gray-300 ">
     {% for event in customer.group.events_upcoming_3 %}
      <tr class="py-2">
        <td class="py-2 pr-4">{{ event.starts | rudate }}</td>
        <td class="py-2 pr-4">{{ event.title }} </td>
        <td class="py-2 pr-4 text-gray ">{{ event.description }}</td>
        <td class="py-2 text-right">
          {% if event.record %} <a href="{{ event.record }}" class="text-[#7FD1C5] text-sm"> Cмотреть запись </a> {% endif %}
          {% if event.link %} <a href="{{ event.link }}" class="text-[#7FD1C5] text-sm"> Подключиться </a> {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

      {% if customer.group.events_upcoming_3|length == 0 %}
          <p>Нет ближайших событий.</p>
      {% endif  %}

      <p class="mt-4"><a href="/events/{{ amo_id }}"  class="bg-[#7FD1C5] text-white px-4 py-2 rounded inline-block">
         Посмотреть все события, включая записи встреч
      </a></p>

</section>
