<section id="welcome" class="text-center max-w-xl mx-auto m-6">
    <!-- Emoji Container -->
    <div class="w-40 h-40 bg-[#E9F1F0] rounded-full flex items-center justify-center mx-auto mb-8">
      <span class="text-8xl">🤔</span>
    </div>

    <h1 class="text-2xl font-semibold text-[#1B3B36] mb-4">
      Привет, {{customer.first_name}}
    </h1>

    <p class="text-[#647976] text-lg mb-4">
      Добро пожаловать в личный кабинет:  здесь будет список документов, подсказки, советы, инструкции и частые вопросы. Все необходимое, чтобы пройти от идеи  до переезда на новое место работы!
    </p>

    <p class="text-[#647976] text-lg mb-4">
     А если у вас есть вопрос или вы хотите посоветоваться – просто нажмите “Нужна помощь” сверху!
    </p>
    <a id="welcome__activate" href="/profile/{{amo_id}}" class="bg-[#1B3B36] text-white px-8 py-3 rounded-xl hover:bg-opacity-90 transition-colors">
      Ок, понятно!
    </a>

  </section>
